:root {
  --color-wrong : rgba(186, 19, 35, 1);
  --color-target : #eee;
  --color-selected : #87ed53;
  --square-size-1 : 52px;
  --square-size-2 : 70px;
  --square-size-3 : 94px;
  --square-size-4 : 112px;
  --color-brand : #1F91DC;
  --color-secundary : #7543d7;
  --color-bg-main: #070707;
}